<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firefistace.shamshad.foodorder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.firefistace.shamshad.foodorder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firefistace.shamshad.foodorder.sign_in"
            android:noHistory="true" />
        <activity
            android:name="com.firefistace.shamshad.foodorder.sign_up"
            android:noHistory="true" />
        <activity android:name="com.firefistace.shamshad.foodorder.restaurant" />
        <activity android:name="com.firefistace.shamshad.foodorder.foodList" />
        <activity android:name="com.firefistace.shamshad.foodorder.fooddetails" />
        <activity android:name="com.firefistace.shamshad.foodorder.cart" />
        <activity android:name="com.firefistace.shamshad.foodorder.account_details" />
        <activity android:name="com.firefistace.shamshad.foodorder.address" />
        <activity android:name="com.firefistace.shamshad.foodorder.address_selection" />
        <activity android:name="com.firefistace.shamshad.foodorder.order_details" />
        <activity android:name="com.firefistace.shamshad.foodorder.PaymentDetails" />
        <activity android:name="com.firefistace.shamshad.foodorder.payment_selection" />
        <activity android:name="com.firefistace.shamshad.foodorder.paymentDetails_cod" />
        <activity android:name="com.firefistace.shamshad.foodorder.order" />
        <activity android:name="com.firefistace.shamshad.foodorder.requestList"></activity>
    </application>

</manifest>